.wrapper {
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1150px;
  max-width: 100%;
}

.container-body {
  margin: 0 auto;
  padding: 160px 10px 0 10px;
  width: 1205px;
  max-width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 14px 1px rgba(152,152,152,0.2);

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 850px;
  }
}

.logo {
  display: flex;
  align-items: center;
  float: left;
  gap: 8px;
  &-img {
    width: 68px;
    height: 69px;
  }
  &-img img {
    max-width: 100%;
    display: block;
  }
  &-name {
    font-family: Muller-Black;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #ffc468;
  }
}
.header__menu {
  display: flex;
}
.header__list {
  display: flex;
}
.header__list li {
  list-style: none;
  margin: 0 0 0 50px;
}
.header__link {
  font-family: Muller-Regular;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #a46b00;
  &:hover {
    color: #a46b00;
    cursor: pointer;
  }
}
.header__burger {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
}

.base-title {
  font-family: Muller-Extra-Bold;
  font-size: 45px;
  line-height: 55px;
  font-weight: 800;
  color: #b99150;
  & p:last-child {
    color: #ffaf18;

  }
}

.main-pizza {
  width: 520px;
  height: 342px;
  display: flex;
  align-self: center;

  & img {
    max-width: 100%;
    display: block;
  }
}

.main-info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;

  .info__item {
    display: flex;
  }
  .item__image {
    width: 60px;
    height: 60px;
    & img {
      max-width: 100%;
      display: block;
    }
  }
  .item__description {
    margin-left: 16px;
    .title {
      font-family: Muller-Extra-Bold;
      font-size: 16px;
      line-height: 24px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      color: #ffaf18;
    }
    .item__text {
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 16px;
      color: #b99150;
      white-space: break-spaces;
      font-family: Muller Regular;
    }
  }
}

.select-pizza {
  margin-top: 50px;
}

.content-select-pizza {
  margin:160px 0;

  .select-title {
    font-family: Muller-Bold;
    font-size: 35px;
    line-height: 55px;
    font-weight: 700;
    color: #bd985c;
    text-align: center;
  }
}

.list-pizza {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 24px;

  .item {
    width: 282px;
    height: 354px;
    background-color: #ffffff;
    box-shadow: 0px 3px 14px 1px rgba(152,152,152,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .item__image {
      max-width: 240px;
      width: 214px;
      height: 155px;
    }
    & img {
      max-width: 100%;
      display: block;
    }
  }
  .item__title {
    font-family: Muller-Bold;
    font-size: 18px;
    line-height: 55px;
    font-weight: 700;
    color: #382400;
  }
  .item__text {
    width: 242px;
    height: 51px;
    font-size: 14px;
    line-height: 18px;
    color: #181a1a;
    font-family: Muller-Regular;
    text-align: center;
  }
}
.button-select {
  width: 224px;
  height: 60px;
}

.button-basket {
  width: 242px;
  height: 50px;
  margin-top: 15px;
}



.footer {
  display: flex;
  justify-content: space-between;
  height: 365px;

  .slogan {
    width: 367px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .slogan__title {
      font-family: Muller-Extra-Bold;
      font-size: 35px;
      line-height: 45px;
      font-weight: 800;
      color: #ffaf18;
      & p:last-child {
        color: #b99150;
      }
    }
    .slogan__text {
      font-family: Muller-Regular;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #b99150;
    }
  }
}

.slice-pizza {
  width: 410px;
  height: 454px;
  margin-right: -140px;

  & img {
    max-width: 100%;
    display: block;
  }
}

@media (max-width: 1200px) {
  .container-body {
    max-width: none;
    width: auto;//1050px;
  }
}

@media (max-width: 1050px) {
  .container-body {
    max-width: none;
    width: auto;//900px;
  }
}

@media (max-width: 900px) {
  .container-body {
    max-width: none;
    width: auto;//750px;
  }
}

@media(max-width:767px){
  .header-container {
    height: 80px;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }
  .logo-name {
    font-size: 16px;
  }

  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after{
    bottom: 0;
  }

  .header__burger span{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu{
    position: fixed;
    top: -100%;
    right:0;
    width: 200px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 3px 14px 1px rgba(152,152,152,0.2);
    padding: 70px 10px 20px 10px;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active{
    top:0;
  }
  .header__list{
    display: block;
  }
  .header__list li{
    margin: 0 0 20px 0;
  }

  .container-body {
    max-width: none;
    width: auto;
  }

  .container {
    max-width: none;
    width: auto;
  }

  .header-container {
    width: auto;
  }

  .main-pizza {
    width: 300px;
    height: 250px;
  }

}
