<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header-container">
        <div class="logo">
          <div class="logo-img">
            <img src="./assets/img/pizza_logo.jpg" alt="pizza">
          </div>
          <p class="logo-name">pizza <br/> cheff</p>
        </div>
        <div class="header__burger" [ngClass]="{'active': isActive}"  (click)="onClickMenu()">
          <span></span>
        </div>
        <nav class="header__menu" [ngClass]="{'active': isActive}">
          <ul class="header__list">
            <li>
              <a class="header__link">Пиццы</a>
            </li>
            <li>
              <a class="header__link">Напитки</a>
            </li>
            <li>
              <a class="header__link">Доставка и оплата</a>
            </li>
            <li>
              <a class="header__link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="container-body">
    <div class="content">
        <div>
          <div class="base-title">
            <p>Самая вкусная пицца в мире</p>
            <p>только в Pizza Cheff</p>
          </div>
          <div class="main-info">
            <div class="info__item" *ngFor="let item of infoItems">
              <div class="item__image"><img src="{{item.image}}"></div>
              <div class="item__description">
                <div class="title">{{item.title}}</div>
                <div class="item__text">{{item.text}}</div>
              </div>
            </div>
          </div>
          <div class="select-pizza">
            <button class="button button-select">Выбрать пиццу</button>
          </div>
        </div>
        <div class="main-pizza">
          <img src="./assets/img/pizza_big.jpg" alt="pizza_big">
        </div>
    </div>

    <div class="content-select-pizza">
      <div class="select-title">Выберите свою любимую пиццу</div>
      <div class="list-pizza" >
        <div class="item" *ngFor="let item of listPizza$ | async; let index = index">
          <div class="item__image">
            <img src="{{item.image}}" (click)="showLightbox(index)">
          </div>
          <div class="item__title">{{item.title}}</div>
          <div class="item__text">{{item.text}}</div>
          <button class="button button-basket">В корзину</button>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="slogan">
        <div class="slogan__title">
          <p>Хватит думать!</p>
          <p>Доставим заказ за 30 минут!</p>
        </div>
        <div class="slogan__text">Мы  гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!</div>
      </div>
      <app-order></app-order>
      <div class="slice-pizza">
        <img src="./assets/img/slice_pizza.jpg" alt="slice of pizza">
      </div>
    </div>
  </div>
</div>

<ng-image-fullscreen-view
  [images]="imageObject"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="closeEventHandler()">
</ng-image-fullscreen-view>

<lib-ng-toast></lib-ng-toast>
