<div class="wrapper">
  <header class="header">
        <div class="container header-container">
          <div class="logo">
            <div class="logo-img">
              <img src="./assets/img/pizza_logo.jpg" alt="pizza">
            </div>
            <p class="logo-name">pizza <br/> cheff</p>
          </div>
          <div class="header__burger" [ngClass]="{'active': isActive}"  (click)="onClickMenu()">
            <span></span>
          </div>
          <nav class="header__menu" [ngClass]="{'active': isActive}">
            <ul class="header__list">
              <li>
                <a class="header__link">Пиццы</a>
              </li>
              <li>
                <a class="header__link">Напитки</a>
              </li>
              <li>
                <a class="header__link">Доставка и оплата</a>
              </li>
              <li>
                <a class="header__link">Контакты</a>
              </li>
            </ul>
          </nav>
    </div>
  </header>
  <div class="container-body">
    <div class="content">
        <div class="base__info">
          <div class="base__title">
            <p class="title-part__first">Самая вкусная пицца в мире</p>
            <p class="title-part__second">только в Pizza Cheff</p>
          </div>
          <div class="main-info">
            <div class="info__item" *ngFor="let item of infoItems">
              <div class="item__image"><img src="{{item.img}}"></div>
              <div class="item__description">
                <div class="title">{{item.title}}</div>
                <div class="item__text">{{item.text}}</div>
              </div>
            </div>
          </div>
          <div class="select-pizza">
            <button class="button button-select"><span>Выбрать пиццу</span></button>
          </div>
        </div>
        <div class="main-pizza">
          <img src="./assets/img/pizza_big.jpg" alt="pizza_big">
        </div>
    </div>
    <div class="content-select-pizza">
      <div class="select-title">Выберите свою любимую пиццу</div>
      <div class="list-pizza" >
        <div class="item" *ngFor="let item of listPizza$ | async">
          <div class="item__image">
            <img src="{{item.img}}">
          </div>
          <div class="item__title">{{item.title}}</div>
          <div class="item__text">{{item.text}}</div>
          <button class="button button-basket"><span>В корзину</span></button>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="slogan">
        <div class="slogan__title">
          <p>Хватит думать!</p>
          <p>Доставим заказ за 30 минут!</p>
        </div>
        <div class="slogan__text">Мы  гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!</div>
      </div>
      <fieldset class="form">
        <div class="form-group">
          <input class="input" placeholder="Ваше имя">
          <input class="input" placeholder="Адрес доставки">
          <input class="input" placeholder="Телефон">
          <button class="button button-order"><span>Оформить заказ</span></button>
        </div>
      </fieldset>
      <div class="slice-pizza">
        <img src="./assets/img/slice_pizza.jpg" alt="slice of pizza">
      </div>
    </div>
  </div>
</div>
